:root {
	--background: #2b2b2b;
	--foreground: #32ae54;
	--yellow: #ffc000;
	--blue: #32a5e4;
	--purple: #e461f5;
	--border-radius: 1.5dvh;
	--spacing-unit: 1rem;
}

* {
	border-radius: var(--border-radius);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100vh;
	max-width: 100vw;
	scroll-padding-top: 80px;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Monaspace Neon", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	line-height: 1.5;
	font-size: clamp(14px, 1.25vw, 20px);
	font-feature-settings:
		"cv01" 1,
		"calt" 1;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb {
	background: var(--foreground);
}

a {
	color: inherit;
	text-decoration: none;
}
.sub a {
	text-decoration: underline;
	cursor: pointer;
}
.sub {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
p {
	font-size: inherit;
}
hr {
	width: 100%;
	margin-left: 2px;
	margin-bottom: 8px;
	border-bottom: 1px solid white;
}
li {
	list-style-type: "- ";
	list-style-position: inside;
	font-size: inherit;
}
.txtBox {
	background: rgba(0, 0, 0, 0);
	color: var(--foreground);
	font-family: "Courier New", Courier, monospace;
	border: none;
	border-bottom: 2px solid var(--foreground);
	outline: none;
}
.txtArea {
	border: 1px solid var(--foreground);
	border-radius: var(--border-radius);
	width: 100%;
}
.border {
	padding: 4px;
	border-radius: var(--border-radius);
	position: relative;
	margin-top: 10px;
	transition: 0.5s ease;
}
.award {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(3) translate(50%, 50%);
}

.gold {
	background: linear-gradient(45deg, #d4af37, #f4cf67);
}
.gold .award {
	color: #f4cf67;
}
.silver {
	background: linear-gradient(45deg, #c0c0c0, #e0e0e0);
}
.silver .award {
	color: #c0c0c0;
}
.bronze {
	background: linear-gradient(45deg, #cd7f32, #ed9f52);
}
.bronze .award {
	color: #cd7f32;
}
.green {
	padding: 2px;
	background: var(--foreground);
}

.titleInput {
	width: min(35vw, 500px);
}
.promptArea {
	margin-bottom: 0.5vw;
}

textarea {
	resize: vertical;
}

.wrapCheckbox {
	display: flex;
	align-items: center;
}
.labelCheckbox {
	display: inline-block;
	position: relative;
	user-select: none;
	border: 1px solid var(--blue);
	width: 15px;
	height: 15px;
	margin-right: 4px;
}
.labelCheckbox input {
	display: none;
}
.iconCheck {
	display: inline-block;
	opacity: 0;
	margin-top: -4px;
}
.labelCheckbox input:checked + .iconCheck {
	opacity: 1;
}

.labelRadio {
	user-select: none;
	margin-right: 4px;
}
.labelRadio input {
	display: none;
}
.iconRadio::after {
	content: "◯";
}
.labelRadio input:checked + .iconRadio::after {
	content: "◉";
}

.cGreen {
	color: var(--foreground);
}
.cWhite {
	color: #fff;
}
.cBlack {
	color: #000;
}
.cGray {
	color: #cacaca;
}
.cRed {
	color: #ff0000;
}
.cYellow {
	color: var(--yellow);
}
.cBlue {
	color: var(--blue);
}
.cPurple {
	color: var(--purple);
}
.bWhite {
	background: #fff;
}
.bGray {
	background: #000;
}
.bBlue {
	background: var(--blue);
}

.bSmooth {
	background: #353535;
	border-radius: var(--border-radius);
	padding: 2px;
	padding-bottom: 0px;
}

.center {
	text-align: center;
}

.small {
	font-size: clamp(10px, 0.75vw, 14px);
}
.smallMed {
	font-size: clamp(12px, 1vw, 18px);
}
.med {
	font-size: clamp(16px, 1.5vw, 24px);
}
.medBig {
	font-size: clamp(20px, 2vw, 32px);
}
.big {
	font-size: clamp(24px, 2.5vw, 40px);
}

.serifBold {
	font-weight: bold;
}
.serifItalic {
	font-style: italic;
}
.serifUnderline {
	text-decoration: underline;
}
.link {
	text-decoration: underline;
}
.padEnd {
	padding-bottom: 10px;
}

.lightBox {
	background: #dadada;
	padding: 10px;
	border-radius: var(--border-radius);
}

.qBox {
	position: relative;
	cursor: pointer;
	transition: 0.3s;
}
.qBox:hover .tooltip {
	visibility: visible;
	opacity: 1;
}
.tooltip {
	visibility: hidden;
	width: 20vw;
	min-width: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-size: clamp(12px, 1vw, 16px);
	text-align: center;
	border-radius: var(--border-radius);
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: 1.5vw;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.3s;
}

.leftBox {
	width: 30%;
	padding-right: 10px;
	display: inline-block;
}
.rightBox {
	width: 70%;
	display: inline-block;
}
.leftBoxInv {
	width: 70%;
	display: inline-block;
	padding-right: 10px;
}
.rightBoxInv {
	width: 30%;
	display: inline-block;
}
.padBottom {
	margin-bottom: 10px;
}

.projBox {
	width: 100%;
	background: #000;
	padding: 10px;
	border-radius: var(--border-radius);
	position: relative;
}
.projBox button {
	background: rgba(0, 0, 0, 0);
	color: var(--foreground);
	position: absolute;
	cursor: pointer;
	top: 10px;
	right: 10px;
	border: 0;
}
.judgeTools .button {
	background: #fff;
	color: #000;
	cursor: pointer;
}
.flexBox {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
}

.inputWrap {
	position: relative;
}
.inputWrap .action {
	position: absolute;
	bottom: 0;
	right: 0;
}

.biggestWrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.bigWrap {
	width: min(85vw, 1400px);
	padding: 20px;
	padding-top: 10px;
	margin: 10px auto;
	background: #252525;
	border-radius: var(--border-radius);
}

.loginBox {
	width: min(50%, 400px);
	margin: 5px auto;
}
.button {
	padding: 2px 8px;
	border: 2px solid #303030;
	border-radius: var(--border-radius);
	cursor: pointer;
	display: inline-block;
}
.loginBox hr {
	margin-top: -2px;
	border: 1px solid #000;
}
.displayBox hr {
	margin-top: -2px;
	width: 100%;
}
.clientWrap {
	position: relative;
	padding-top: 5px;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@font-face {
	font-family: "Monaspace Neon";
	src: url("/fonts/MonaspaceNeonVar.woff2") format("woff2-variations");
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
	font-display: swap;
}
@font-face {
	font-family: "Monaspace Neon";
	src: url("/fonts/MonaspaceNeon-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Monaspace Xenon";
	src: url("/fonts/MonaspaceXenonVar.woff2") format("woff2-variations");
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
	font-display: swap;
}
@font-face {
	font-family: "Monaspace Xenon";
	src: url("/fonts/MonaspaceXenon-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
