:root {
    --background: #303030;
    --foreground: #39ff14;
    --yellow: #ffbd29;
    --blue: #32f4ff;
    --purple: #db6fff;
}

html,
body {
    height: 100vh;
    max-width: 100vw;
    scroll-padding-top: 80px;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Monaspace Neon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    line-height: 1.5;
    font-size: 1.25vw;
    font-feature-settings:
        "cv01" 1,
        /* turn off the dot inside a "0" glyph */ "calt" 1; /* turn on "texture healing" */
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb {
    background: var(--foreground);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* site aesthetic */
a {
    color: inherit;
    text-decoration: none;
}
.sub a {
    text-decoration: underline;
    cursor: pointer;
}
.sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
    font-size: 1.25vw;
}
hr {
    width: 100%;
    margin-left: 2px;
    margin-bottom: 8px;
    border-bottom: 1px solid white;
}
li {
    list-style-type: "- ";
    list-style-position: inside;
    font-size: 1.25vw;
}
.txtBox {
    background: rgba(0, 0, 0, 0);
    color: var(--foreground);
    font-family: "Courier New", Courier, monospace;
    border: none;
    border-bottom: 2px solid var(--foreground);
    outline: none;
}
.txtArea {
    border: 1px solid var(--foreground);
    border-radius: 2px;
    width: 100%;
}
.border {
    padding: 4px;
    border-radius: 2px;
    position: relative;
    margin-top: 10px;
    transition: 0.5s ease;
}
.award {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(3) translate(50%, 50%);
}

.gold {
    background: linear-gradient(45deg, #d4af37, #f4cf67);
}
.gold .award {
    color: #f4cf67;
}
.silver {
    background: linear-gradient(45deg, #c0c0c0, #e0e0e0);
}
.silver .award {
    color: #c0c0c0;
}
.bronze {
    background: linear-gradient(45deg, #cd7f32, #ed9f52);
}
.bronze .award {
    color: #cd7f32;
}
.green {
    padding: 2px;
    background: var(--foreground);
}

.titleInput {
    width: 35vw;
}
.promptArea {
    margin-bottom: 0.5vw;
}

textarea {
    /* height: 5vw; */
    resize: vertical;
}

.wrapCheckbox {
    display: flex;
    align-items: center;
}
.labelCheckbox {
    display: inline-block;
    position: relative;
    user-select: none;
    border: 1px solid var(--blue);
    width: 15px;
    height: 15px;
    margin-right: 4px;
}
.labelCheckbox input {
    display: none;
}
.iconCheck {
    display: inline-block;
    opacity: 0;
    margin-top: -4px;
}
.labelCheckbox input:checked + .iconCheck {
    opacity: 1;
}

.labelRadio {
    user-select: none;
    margin-right: 4px;
}
.labelRadio input {
    display: none;
}
.iconRadio::after {
    content: "◯";
}
.labelRadio input:checked + .iconRadio::after {
    content: "◉";
}

/* custom classes */
.cGreen {
    color: var(--foreground);
}
.cWhite {
    color: #fff;
}
.cBlack {
    color: #000;
}
.cGray {
    color: #cacaca;
}
.cRed {
    color: #ff0000;
}
.cYellow {
    color: var(--yellow);
}
.cBlue {
    color: var(--blue);
}
.cPurple {
    color: var(--purple);
}
.bWhite {
    background: #fff;
}
.bGray {
    background: #000;
}
.bBlue {
    background: var(--blue);
}

.bSmooth {
    background: #353535;
    border-radius: 2px;
    padding: 2px;
    padding-bottom: 0px;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.75vw;
}
.smallMed {
    font-size: 1vw;
}
.med {
    font-size: 1.5vw;
}
.medBig {
    font-size: 2vw;
}
.big {
    font-size: 2.5vw;
}

.serifBold {
    font-weight: bold;
}
.serifItalic {
    font-style: italic;
}
.serifUnderline {
    text-decoration: underline;
}

.link {
    text-decoration: underline;
}

.padEnd {
    padding-bottom: 10px;
}

/* elements */
.lightBox {
    background: #dadada;
    padding: 10px;
    border-radius: 5px;
}

.qBox {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.qBox:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.tooltip {
    visibility: hidden;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}

.leftBox {
    width: 30%;
    padding-right: 10px;
    display: inline-block;
}
.rightBox {
    width: 70%;
    display: inline-block;
}
.leftBoxInv {
    width: 70%;
    display: inline-block;
    padding-right: 10px;
}
.rightBoxInv {
    width: 30%;
    display: inline-block;
}
.padBottom {
    margin-bottom: 10px;
}
.projBox {
    width: 100%;
    background: #000;
    padding: 10px;
    border-radius: 2px;
    position: relative;
}
.projBox button {
    background: rgba(0, 0, 0, 0);
    color: var(--foreground);
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    border: 0;
}
.judgeTools .button {
    background: #fff;
    color: #000;
    cursor: pointer;
}
.flexBox {
    display: flex;
    align-items: top;
}

.inputWrap {
    position: relative;
}
.inputWrap .action {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* layout */
.biggestWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bigWrap {
    width: 85vw;
    padding: 20px;
    padding-top: 10px;
    margin: auto;
    margin-top: 10px;
    background: #252525;
}

/* pages */
.loginBox {
    width: 50%;
    margin: auto;
    margin-top: 5px;
}
.button {
    padding: 2px;
    border: 2px solid #303030;
    border-radius: 5px;
    cursor: pointer;
}
.loginBox hr {
    margin-top: -2px;
    border: 1px solid #000;
}
.displayBox hr {
    margin-top: -2px;
    width: 100%;
}
.clientWrap {
    position: relative;
    padding-top: 5px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@font-face {
    font-family: "Monaspace Neon";
    src:
        url("/fonts/MonaspaceNeonVar.woff2") format("woff2 supports variations"),
        url("/fonts/MonaspaceNeonVar.woff2") format("woff2-variations");
    font-weight: 200 800;
    font-stretch: 100% 125%;
    font-style: oblique 0deg 11deg;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace Neon";
    src: url("/fonts/MonaspaceNeon-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Monaspace Xenon";
    src:
        url("/fonts/MonaspaceXenonVar.woff2") format("woff2 supports variations"),
        url("/fonts/MonaspaceXenonVar.woff2") format("woff2-variations");
    font-weight: 200 800;
    font-stretch: 100% 125%;
    font-style: oblique 0deg 11deg;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace Xenon";
    src: url("/fonts/MonaspaceXenon-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
