.nav {
    position: sticky;
    top: 0;
    z-index: 99;
}
.wrap {
    background: rgba(10, 10, 10, 0.8);
    font-size: 2.6vw;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    /* font-weight: bold; */
}

.wrap {
    font-family: "Monaspace Xenon", monospace;
    color: #fff;
}

.fill {
    flex: 1 0 0;
}
