.wrap {
    padding-bottom: 0px;
    padding-top: 0px;
}
.header {
    display: flex;
    align-items: center;
}
.filler {
    flex: 1 0 0;
}
.edit {
    flex: 0 0 auto;
}
.outline {
    background: #000;
    border-radius: 2px;
    padding: 5px 10px;
    /* padding-right: 10%; */
    position: relative;
}
.toolbox {
    position: absolute;
    top: 0;
    right: 0;
}
.toolboxWrap {
    margin: 5px;
    margin-top: -3px;
    text-align: center;
}
.padBottom {
    margin-bottom: 10px;
}
