body {
    font-family: "Times New Roman", Times, serif, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fffcfc;
    text-align: center;
    color: #df92ab;
    flex-direction: column;
    display: flex;
    align-items: center;
}

body h1 {
    color: #f0749b;
    text-size-adjust: 65;
}

.home {
    background-color: pink;
    color: rgb(8, 65, 81);
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 15px;
    font-weight: bold;
    color: #ffacd8;
}
.combine {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust spacing */
    align-items: space-between;
    padding-right: 10px;
}
input,
select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ffacd8;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    margin-top: 25px;
    padding: 12px 24px;
    background-color: #f0749b;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c4defa;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    color: #ffacd8;
}

.calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
}

.calendar {
    display: grid;
    text-align: center;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    color: black;
    background-color: pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-days .today {
    background-color: gray;
    color: white;
    border-radius: 70%;
}
.calendar-days .periodStart .periodEnd {
    background-color: rgb(204, 73, 73);
    color: white;
    border-radius: 70%;
}
.red {
    background-color: rgb(229, 127, 192);
    color: white;
}
